/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales (diseño)
5. Otros
*/
:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --gray: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  /* 1. Posicionamiento */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 2. Modelo de caja (Box model) */
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;

  /* 4. */
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  /* 1. Posicionamiento */
  align-self: center;
  /* 2. Modelo de caja (Box model) */
  width: 150px;
  height: 24px;
  margin-top: 60px;
}

.header--title-container {
  /* 1. Posicionamiento */
  text-align: center;
  align-self: center;
  /* 2. Modelo de caja (Box model) */
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
}

.header--title-container h1 {
  /* 1. Posicionamiento */
  /* 2. Modelo de caja (Box model) */
  /* 3. Tipografía */
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  /* 4. Visuales (diseño) */
  color: var(--just-white);
  /* 5. Otros */
}

.header--title-container p {
  /* 1. Posicionamiento */
  /* 2. Modelo de caja (Box model) */
  margin-top: 25px;
  /* 3. Tipografía */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  /* 4. Visuales (diseño) */
  color: var(--soft-orange);
  /* 5. Otros */
}
.header--title-container .header--button {
  /* 1. Posicionamiento */
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  /* 2. Modelo de caja (Box model) */
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  /* 3. Tipografía */
  font-size: 1.4rem;
  font-weight: bold;
  /* 4. Visuales (diseño) */
  background-color: var(--off-white);
  /* sombras */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: var(--black);
  /* 5. Otros */
}

.header--button span {
  /* 1. Posicionamiento */
  /* 2. Modelo de caja (Box model) */
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  /* 3. Tipografía */

  /* 4. Visuales (diseño) */
  background-image: url('./assets/icons/down-arrow.svg');

  /* 5. Otros */
}
/*----------- seccion intercambio -----------*/
main {
  /* 1. Posicionamiento */

  /* 2. Modelo de caja (Box model) */
  width: 100%;
  height: auto;
  /* 3. Tipografía */

  /* 4. Visuales (diseño) */
  background: var(--off-white);
  /* 5. Otros */
}

.main-exchange-container {
  /* 1. Posicionamiento */

  /* 2. Modelo de caja (Box model) */
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  /* 3. Tipografía */
  text-align: center;

  /* 4. Visuales (diseño) */

  /* 5. Otros */
}
.main-exchange-container__title {
  /* 1. Posicionamiento */
  /* 2. Modelo de caja (Box model) */
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  /* 3. Tipografía */
  /* 4. Visuales (diseño) */
  /* 5. Otros */
}
.main-exchange-container .backgroundImg {
  /* 1. Posicionamiento */

  /* 2. Modelo de caja (Box model) */
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  /* 3. Tipografía */

  /* 4. Visuales (diseño) */
  background-image: url('./assets/img/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* 5. Otros */
}
.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
/*--------------------Tablas----------------*/
.main-currency-table {
  /* 1. Posicionamiento */
  /* 2. Modelo de caja (Box model) */
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  /* 3. Tipografía */
  font-family: 'Inter', sans-serif;
  /* 4. Visuales (diseño) */
  /* 5. Otros */
}

.main-currency-table .currency-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.main-currency-table .currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table--container table {
  width: 100%;
  height: 100%;
}

.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--gray);
  background-color: var(--just-white);
}
.currency-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.currency-table--container .table__right .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--container .table__right .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}
.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--warm-black);
}

/*----------------Tabla con grid----------------*/

.main-comision-table {
  /* 1. Posicionamiento */
  /* 2. Modelo de caja (Box model) */
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  /* 3. Tipografía */
  font-family: 'Inter', sans-serif;
  /* 4. Visuales (diseño) */
  /* 5. Otros */
}
.main-comision-table .comision-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
}
.main-comision-table .comision-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.comision-table--container .comision-table--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.comision-table--grid .comision-table--item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--just-white);
}
.comision-table--item .item__currency {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
  color: #b5b0ac;
}
.comision-table--item .item__price {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  text-align: center;
  color: #757575;
}

.comision-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}
.comision-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--black);
}
/*----------------product detail----------------*/
.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url(/assets/icons/batata.svg);
}
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail--title h2 {
  margin-bottom: 25px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-datail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-datail--card .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url(./assets/icons/clock.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-datail--card .eye {
  display: inline-block;
  width: 22px;
  height: 16px;
  margin-bottom: 10px;
  background-image: url(./assets/icons/eye.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-datail--card .dolar-sign {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-image: url(./assets/icons/dollar-sign.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-datail--card .check-circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-image: url(./assets/icons/check-circle.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*----------------Seccion bonus----------------*/
.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url('./assets/img/bitcoinbaby2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
